<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Api automation core tests" parallel="methods" thread-count="10">
    <test name="Core: Unit tests">
        <groups>
            <run>
                <exclude name="disabled"/>
            </run>
        </groups>
        <packages>
            <package name="io.github.arungahlawat.automation.api.core.tests"/>
        </packages>
    </test>
</suite>